#### 1

In [144]:
import pandas as pd

cities = {"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], "Population": [347949, 975551, 233839, 583056]}

df_cities = pd.DataFrame(cities)
df_cities

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [145]:
#a
df_cities["Kommun"]

0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
Name: Kommun, dtype: object

In [146]:
#b
df_gbg = df_cities[df_cities["Kommun"].str.contains("Göteborg")]
df_gbg

     Kommun  Population
3  Göteborg      583056

In [147]:
#b background
df_cities["Kommun"].str.contains("Göteborg")

0    False
1    False
2    False
3     True
Name: Kommun, dtype: bool

In [148]:
#c background - new index column is created..., dont want that
df_cities_temp = df_cities.sort_values(by="Population", ascending=False).reset_index()
df_cities_temp

   index     Kommun  Population
0      1  Stockholm      975551
1      3   Göteborg      583056
2      0      Malmö      347949
3      2    Uppsala      233839

In [149]:
#c
df_cities = df_cities.sort_values(by="Population", ascending=False, ignore_index=True)
df_cities

      Kommun  Population
0  Stockholm      975551
1   Göteborg      583056
2      Malmö      347949
3    Uppsala      233839

In [150]:
#d
df_top_3_cities = df_cities.sort_values(by="Population", ascending=False).head(3)
df_top_3_cities

      Kommun  Population
0  Stockholm      975551
1   Göteborg      583056
2      Malmö      347949

In [158]:
#e

tot_population = 10379295

#df_cities.insert(2, "Population (%)", [df_cities["Population (%)"][i] = (df_cities["Population"][i]/tot_population)*100 for i in range 4])
# kan inte göra så då 1. insert skriver över ursprungliga variabeln, 2. loopar inte i pandas utan den (precis som numpy) gör saker radvis/elementvis

df_cities["Population (%)"]=round(100*(df_cities["Population"]/tot_population), 2)
#lägger till automatiskt ny kolumn då det inte fannssådan key
#round(what, antal decimaler)
df_cities

      Kommun  Population  Population (%)
0  Stockholm      975551            9.40
1   Göteborg      583056            5.62
2      Malmö      347949            3.35
3    Uppsala      233839            2.25