# Lecture Pandas basics

- pandas.Series
- pandas.DataFrame
- read_csv
- indexing
- plotting

- ska inte loopas, bygger på numpy men kan hantera flera datatyper samt att den har kolumn och radnamn

## Pandas Series

- 1 dim array
- can create from dictionary, list and np.array

In [5]:
import pandas as pd

programs_dict = dict(AI = 26, NET = 38, Java = 30, UX = 28)

programs_series = pd.Series(programs_dict)

programs_series

AI      26
NET     38
Java    30
UX      28
dtype: int64

In [9]:
# extract values
print(f"{programs_series[0] = }")
print(f"{programs_series[-1] = }")

print(f"{programs_series['UX'] = }")

# Extract keys
print(f"{programs_series.keys() = }")                   # datatyp object för alla datatyper, här specifikt för strängar
print(f"{programs_series.keys()[0] = }")

programs_series[0] = 26
programs_series[-1] = 28
programs_series['UX'] = 28
programs_series.keys() = Index(['AI', 'NET', 'Java', 'UX'], dtype='object')
programs_series.keys()[0] = 'AI'

In [13]:
import random as rnd


rnd.seed(1337)

dice_series = pd.Series([rnd.randint(1,6) for _ in range(10)])
dice_series.head()                                                  # inspcts the first five rows (default 5 st men kan skriva tex head(3) för att få de 3 första)

0    5
1    5
2    6
3    3
4    5
dtype: int64

In [14]:
dice_series

0    5
1    5
2    6
3    3
4    5
5    5
6    6
7    2
8    3
9    4
dtype: int64

In [16]:
print(f"{dice_series.min() = }")
print(f"{dice_series.argmin() = }")     # gives index for min value
print(f"{dice_series.max() = }")
print(f"{dice_series.mean() = }")
print(f"{dice_series.median() = }")

dice_series.min() = 2
dice_series.argmin() = 7
dice_series.max() = 6
dice_series.mean() = 4.4
dice_series.median() = 5.0

---
## DataFrame

- tabular data with rows and columns
- analog to 2D numpy arrays with flexible row indices and column names
- "speicalized" dict with col name mapped to a Series object (varje kolumn har en serie)

In [21]:
# instantiated a DataFrame from a Series object (could use dictionary, list etc)
df_programs = pd.DataFrame(programs_series, columns =("Number of students",)) #convention df_namn för DataFrames
df_programs

      Number of students
AI                    26
NET                   38
Java                  30
UX                    28

In [23]:
# create 2 Series objects
students = pd.Series({"AI": 26, "NET": 38, "UX": 28, "Java":30})
skills = pd.Series({"AI": "Python", "NET": "C#", "UX": "Figma", "Java":"Java"})

# create a DataFrame  from 2 series objects
df_programs = pd.DataFrame({"Students": students, "Skills": skills})
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [24]:
df_programs["Students"]

AI      26
NET     38
UX      28
Java    30
Name: Students, dtype: int64

In [25]:
# create 2 Series objects
students = pd.Series({"AI": 26, "NET": 38, "UX": 28, "Java":30})
skills = pd.Series({"AI": "Python", "net": "C#", "UX": "Figma", "Java":"Java"})     #net finns inte i den övre så den läggs till

# create a DataFrame  from 2 series objects
df_programs = pd.DataFrame({"Students": students, "Skills": skills})
df_programs
# NaN means Not a Number (which is a float, thus rest of Students ändrades också till float)

      Students  Skills
AI        26.0  Python
Java      30.0    Java
NET       38.0     NaN
UX        28.0   Figma
net        NaN      C#

In [26]:
df_programs["Students"]

AI      26.0
Java    30.0
NET     38.0
UX      28.0
net      NaN
Name: Students, dtype: float64

In [31]:
df_programs["Students"].mean(), (25+30+38+28)/4             #NoN is ignored in mean method

(30.5, 30.25)

In [32]:
median_studnet_number = df_programs["Students"].median()
print(f"Median students in the program {df_programs.index.to_list()} is {median_studnet_number:.0f}")

Median students in the program ['AI', 'Java', 'NET', 'UX', 'net'] is 29

In [34]:
students = pd.Series({"AI": 26, "NET": 38, "UX": 28, "Java":30})
skills = pd.Series({"AI": "Python", "NET": "C#", "UX": "Figma", "Java":"Java"})     #net finns inte i den övre så den läggs till

df_programs = pd.DataFrame({"Students": students, "Skills": skills})
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [35]:
df_programs["Skills"]

AI      Python
NET         C#
UX       Figma
Java      Java
Name: Skills, dtype: object

In [37]:
df_programs["Skills"][0], df_programs["Skills"]["AI"], df_programs["Skills"]["UX"]

('Python', 'Python', 'Figma')

## Indexers

- loc - slicing and indexing using explicit index - returns a Series object (som dict)
- iloc - slicing and indexing using python style indexing (slicing) - returns a DataFrame object

In [39]:
df_programs.loc["AI"]

Students        26
Skills      Python
Name: AI, dtype: object

In [40]:
df_programs.loc["Java"]     # ger info om viss key

Students      30
Skills      Java
Name: Java, dtype: object

In [50]:
df_programs.loc[["AI", "UX"]]  #can index several (but need [] so a list sent in), automatically made into DataFrame

    Students  Skills
AI        26  Python
UX        28   Figma

In [41]:
df_programs.iloc[1:4]       # slicar på rader

      Students Skills
NET         38     C#
UX          28  Figma
Java        30   Java

## Masking

In [42]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [43]:
df_programs["Students"] >= 30   #retyrns a new series

AI      False
NET      True
UX      False
Java     True
Name: Students, dtype: bool

In [49]:
# Using masking to filter DataFrame (plockar bara ut de som är True; muterar inte orgnalet utan returnerar ny DataFrame så behöver namnges för att sparas)
df_programs_over_29 = df_programs[df_programs["Students"] >= 30]
df_programs_over_29

      Students Skills
NET         38     C#
Java        30   Java

## Excel data

In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [52]:
df.info()
# non-null meaning no missing values so 2225 rows from 2225 contains data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [53]:
df.shape

(2225, 5)

In [55]:
# liquid food and solid food
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [56]:
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

## Data cleaning and explorations

- type convert str objects with numerical values to int
- change column names
- separate into liquids and solids

In [59]:
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [63]:
# renaming  columns
df.rename(
    dict(Cals_per100grams = "Calories", KJ_per100grams = "kJ", per100grams = "per100"), axis = "columns", # axis = 1 är samma
)

df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ