# 2

In [2]:
import pandas as pd
import plotly_express as px

df_vaccin_kommun_alder = pd.read_excel("../Lab/Data/vaccin.xlsx", sheet_name="Vaccinerade kommun och ålder")
df_vaccin_kommun_alder.head()

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,839,755,NaN,NaN,0.697423,0.627598,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4887,4469,1959.0,NaN,0.730275,0.667812,0.292738,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5542,5240,2878.0,NaN,0.755865,0.714675,0.392526,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5429,3719.0,NaN,0.805068,0.781601,0.535416,NaN

In [3]:
df_vaccin_kommun_alder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Län                  2900 non-null   int64
 1   Län_namn             2900 non-null   object
 2   Kommun               2900 non-null   int64
 3   Kommun_namn          2900 non-null   object
 4   Ålder                2900 non-null   object
 5   Befolkning           2900 non-null   int64
 6   Antal minst 1 dos    2900 non-null   int64
 7   Antal minst 2 doser  2900 non-null   int64
 8   Antal 3 doser        2320 non-null   float64
 9   Antal 4 doser        870 non-null    float64
 10  Andel minst 1 dos    2900 non-null   float64
 11  Andel minst 2 doser  2900 non-null   float64
 12  Andel 3 doser        2320 non-null   float64
 13  Andel 4 doser        870 non-null    float64
dtypes: float64(6), int64(5), object(3)
memory usage: 317.3+ KB

#### a)
Svar: 21 län är representerade i datasettet

In [9]:
len(df_vaccin_kommun_alder["Län_namn"].unique())

21

In [10]:
len(df_vaccin_kommun_alder["Län"].unique())

21

#### b)
Svar: 290 kommuner är representerade i datasettet

In [12]:
len(df_vaccin_kommun_alder["Kommun_namn"].unique())

290

In [13]:
len(df_vaccin_kommun_alder["Kommun"].unique())

290